.messages-container {
    width: 100%;
    padding: 16px;
    flex-grow: 1;
    border: 1px solid var(--color-gray);
    border-radius: var(--border-radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.chatroom-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.room-btn{
    flex-grow: 2;
    font-size: 30px;
}
.room-title{
    position: absolute;
    justify-self: center;
}