.message-input-container {
    display: flex;
    gap: 4px;
}

.message-input {
    padding: 12px 8px;
    flex: 1;
    background: var(--color-gray);
    border-radius: 100px;
}
.message-input:focus{
    outline: none;
}

.send-message {
    padding: 12px 12px;
    background: var(--color-blue);
    border-radius: 100px;
    cursor: pointer;
}
button:disabled{
    background-color: var(--color-gray);
    cursor: not-allowed;
}